<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ 'css/normalize.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/main.css'|static }}">
  </head>
  <body>

    {% block content %}{% endblock %}

  </body>
</html>
